*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
}

#root {
  width: 100%;
  max-width: none;
  margin: 0;
  text-align: inherit;
  border: none;
  min-height: 100svh;
}

a {
  color: inherit;
}

input,
button,
select,
textarea {
  font-family: inherit;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
